<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>central</id>
            <username>bcE6dXZR</username>
            <password>xggqDeBPhh/2UVpYTUtj37xqR/YrncWhVHbDKS9rjvc+</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>external:http:*</mirrorOf>
            <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
            <url>http://0.0.0.0/</url>
        </mirror>
    </mirrors>
    <!-- GPG签名全局配置 -->
    <profiles>
        <profile>
            <id>release</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>yilijishu</gpg.keyname>
                <gpg.passphrase>yilijishu1234</gpg.passphrase>
                <gpg.useagent>true</gpg.useagent>
            </properties>
        </profile>
    </profiles>
</settings>
